---
layout: products
title: Store
---
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
           <div class="section-title">
            <h2>Store</h2>
            <h3>We are currently testing a new API</h3>
            <h3>The store is in the process of being improved and in test mode</h3>
            <h3>All purchases will be ignored</h3>
            <p></p>
          </div>
         <div class="section-title">
             <b>Click on the picture of product for more info.</b><br/>
             <b>The price is inclusive of a 2.3%+30¢ fee for paying with credit card. This fee allows us to refund you very quickly and cover any other disputes.</b>
	   <figure>
	     <div style="display:flex; flex-wrap: wrap">
		{% for product in site.products %}
		{% include product.html %}
		{% endfor %}
	     </div>
	     <figcaption>{{ include.caption }}</figcaption>
	   </figure>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

