---
layout: products
title: Store
---
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
           <div class="section-title">
            <h2>Store</h2>
            <p></p>
	    <a href="#" class="snipcart-checkout">Click here to checkout</a>
	    <div class="snipcart-summary">
	      Number of items: <span class="snipcart-total-items"></span>
	      Total price: <span class="snipcart-total-price"></span></p>
	    </div>
          </div>
         <div class="section-title">
             <b>Click on the picture of product for more info.</b><br/>
             <b>The price is inclusive of a 5% fee for paying with credit card.</b>
	   <figure>
	     <div style="display:flex">
		{% for product in site.products %}
		{% include product.html %}
		{% endfor %}
	     </div>
	     <figcaption>{{ include.caption }}</figcaption>
	   </figure>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

