---
layout: default
---
<section id="intro">
  <div class="container">
    <div class="row">
        <div class="block">
           <div class="section-title">
               <font size="+2"><h2>{{ page.name }}</h2></font>
            <p></p>

	<div class="block">
  <img src="{{ page.image_large }}" alt="{{ page.name }}" id="responsive-image" class="thumbnail"/>
    <button type="button" class="btn btn-primary btn-lg btn-block" button id="checkout-button">
      Order it for {{ page.price }} $
    </button>
    <p>
      {{ page.content }}
    </p>
</div>

        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

